.title {
    margin-top: 3em;
    font-size: 48px;
}

.points {
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 3em;
}

.main-button {
    border: 1px solid #616A94;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

.main-button:hover {
    color: white;
    background-color: #616A94;
}