.window {
    text-align: center;
    font-size: clamp(20px, 2.5vw, 24px);
    margin-top: 10vh;
}

.option-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em auto;

    @media screen and (min-width: 1180px) {
        width: 50%;
    }
}

.options {
    display: block;
    border: 1px solid #616A94;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    user-select: none;
    margin-top: 1em;
    cursor: pointer;
}

@media screen and (min-width: 1180px) {
    .options:hover {
        color: white;
        background-color: #616A94;
    }
}

.question {
    width: 70%;
    margin: 0 auto;
}

.challenge-text {
    color: grey;
    margin-bottom: 1em;
}