.toggle-button {
    border: 1px solid #616A94;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #3B444B;
    background-color: #E23D80;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button:hover {
    color: #000000;
    background-color: #F664AF;
}

@media screen and (min-width: 560px) {
    .carousel__button-right {
        margin-left: 15em;
    }

    .carousel__button-left {
        margin-right: 15em;
    }

    .selected-image {
        max-width: 400px; 
        max-height: 400px;
    }
}