.intro {
    margin-top: 4em;
    text-align: center;
}

.main-button {
    border: 1px solid #616A94;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    margin: 1em;
    margin-top: 2em;
}

.solved-button {
    border: 1px solid chocolate;
    padding: 15px 30px;
    text-decoration: none;
    color: whitesmoke;
    background-color: #666666;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    margin: 1em;
    margin-top: 2em;
}

.main-button:hover {
    color: white;
    background-color: #616A94;
}