.active-state {
    border: 1px solid #414a4c;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0D0F1D;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    margin: 1em;
}

.headliner {
    margin-top: 0vh;
    text-align: center;
}