.header {
    text-align: center;
    font-size: clamp(20px, 2.5vw, 24px);
    margin-top: 5vh;
}

.carousel-container {
    margin: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 1180px) {
        width: 50%;
    }
    
}

.selected-image {
    display: block;
    width: 50vh;
    height: 50vw;
    max-width: 200px; 
    max-height: 200px;
    margin-right: auto;
    margin-bottom: 10vh;
    margin-left: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__images {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.carousel__image-selected {
    border: 3px solid #E23D80 !important;
}

.carousel__image {
    margin-right: 10px;
    height: 150px;
    min-width: 150px;
    border: 3px solid #ffa70000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel__button-left {
    /* left: 10px; */
    /* display: block; */
    border: 1px solid #616A94;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    user-select: none;
    margin-top: 1em;
    /* margin-right: 5em; */
    cursor: pointer;
}

.carousel__button-right {
    /* right: 10px; */
    /* display: block; */
    border: 1px solid #616A94;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    user-select: none;
    margin-top: 1em;
    /* margin-left: 5em; */
    cursor: pointer;

}

.challenge-text{
    color: grey;
}

@media screen and (min-width: 560px) {
    .carousel__button-right {
        margin-left: 15em;
    }

    .carousel__button-left {
        margin-right: 15em;
    }

    .selected-image {
        max-width: 400px; 
        max-height: 400px;
    }
}

@media screen and (min-width: 1180px) {
    .carousel__button-left:hover {
        color: white;
        background-color: #616A94;
    }

    .carousel__button-right:hover {
        color: white;
        background-color: #616A94;
    }
}