.menu-button {
    border: 1px solid #616A94;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    margin: 0.5em;
}

.menu-button:hover {
    color: #F0F0F0;
    background-color: #616A94;
}

@media screen and (min-width: 560px) {
    .menu-button {
        border: 1px solid #616A94;
        border-radius: 50px;
        padding: 15px 30px;
        text-decoration: none;
        color: #616A94;
        background-color: #161A31;
        transition: 0.3s;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        margin: 0.5em;
    }
}