.vault-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0em auto;
    text-align: center;
    font-size: clamp(20px, 2.5vw, 24px);
}

.code-cell {
    display: inline-block;
    width: 30vw;
    text-align: center;
    margin-bottom: 2vh;
}

.code-block {
    display: block;
}

.code-header {
    padding-top: 0vh;
    padding-bottom: 5vh;
}

.vault-form {
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
}

.code-enter {
    border: 1px solid #616A94;
    border-radius: 15px;
    padding: 10px 10px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 0.7em;
    outline: none;
    user-select: none;
    margin-top: 2em;
    cursor: pointer;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.code-success {
    color: green;
    margin-bottom: 5vh;
}

.hidden-msg-container {
    display: inline;
    margin: auto;

}

.hidden-msg-title {
    font-family: 'Brush Script MT', cursive;
}

.hidden-msg-body {
    font-family: Garamond, serif;
}


@media screen and (min-width: 560px) {
    .code-enter {
        border: 1px solid #616A94;
        border-radius: 15px;
        padding: 15px 30px;
        text-decoration: none;
        color: #616A94;
        background-color: #161A31;
        transition: 0.3s;
        font-size: 1em;
        outline: none;
        user-select: none;
        margin-top: 1em;
        cursor: pointer;
    }
}

@media screen and (min-width: 1180px) {
    .code-enter:hover {
        color: white;
        background-color: #616A94;
    }

    .vault-box {
        width: 50%;
    }
}